
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


/*
Custom Css
*/
body {
  font-family: "Google Sans Flex", sans-serif ;
}

.img-logo {
    width: 70px;
    height: auto;
}

.sticky-top {
   background-color: #212934;
}

#templatemo_main_nava {
   box-shadow: 0 .1rem 0.8rem rgba(238, 125, 45, 0) !important;
}

.btn{
    transition: background-color 0.5s ease, color 0.5s ease;
}
.btn:hover {
  background-color: #17adac;
  color: #000000;
}

#templatemo_main_nav a:hover {
  color: #000000;
} 

.zoom-container {
  display: flex;
  gap: 20px;
}

.image-box {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  overflow: hidden;
  cursor: pointer;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lens {
  position: absolute;
  width: 100px;
  height: 100px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255,255,255,0.5);

  display: none;
  pointer-events: none;
  
  
}

.zoom-result {
  width: 600px;
  height: 400px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  display: none;
}

.filter {
    cursor: pointer;
    font-size: 1rem !important;
}

.col-lg-3 {
    display: none;
    background-color: #2129340d;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "➜";
}

.list-inline-item{
      display: inline-flex;
    gap: 109px;
}


    .price-filter{
      width:243px;
      
      padding:25px;
      border-radius:10px;
     
    }

    .price-filter h3{
          margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
    }

    .brand-filter{
      width:243px;
      padding:25px;
      border-radius:10px;
      margin-top: 20px;
    }

    .brand-filter h3{
      margin-bottom: 15px;
      font-size: 14px;
      text-align: center;
    }

    .brand-filter select{
      width: 100%;
    }

    .slider{
      position:relative;
      height:6px;
      background:#ddd;
      border-radius:10px;
    }

    .progress{
      position:absolute;
      height:100%;
      background:black;
      border-radius:10px;
      left:20%;
      right:20%;
    }

    .range-input{
      position:relative;
    }

    .range-input input{
      position:absolute;
      width:100%;
      top:-11px;
      background:none;
      pointer-events:none;
      appearance:none;
    }

    input[type="range"]::-webkit-slider-thumb{
      height:18px;
      width:18px;
      border-radius:50%;
      background:black;
      pointer-events:auto;
      appearance:none;
      cursor:pointer;
      border:none;
    }

    .price{
      margin-top:18px;
      text-align:center;
      color:#777;
      font-size:18px;
    }

#featured .card-body a.h2 {
  font-size: 1.25rem;
}


body {
  
  font-optical-sizing: auto;
}

.modal-content {
  background-image: url('../img/perro-convertido-a-mediano.jpeg');
  background-size: cover;
  background-position: center;
}

.modal.fade .modal-dialog {
  transform: translateX(100px);
  transition: .3s;
}

.modal.show .modal-dialog {
  transform: translateX(0);
}

.translate-user {
      transform: translate(658%,86%)!important;
}